
# Environment variables you define here are used for variable substitution in your Docker Compose file

# The following keys are invalid and provided as an example only.
# Please see the Managing Access Keys for IAM Users documentation (https://docs.aws.amazon.com).
AWS_ACCESS_KEY_ID=16c3
AWS_SECRET_ACCESS_KEY=fdRkqs1Yb86
AWS_S3_ENDPOINT=s3-uk-1.sa-catapult.co.uk
COPERNICUS_USERNAME=t
COPERNICUS_PWD=We
ASF_USERNAME=tom
ASF_PWD=We
USGS_USERNAME=t
USGS_PWD=W